@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font imports */
@font-face {
  font-family: 'Marfa';
  src: url('/fonts/ABCMarfa-Light-Trial.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marfa';
  src: url('/fonts/ABCMarfa-Regular-Trial.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marfa';
  src: url('/fonts/ABCMarfa-Medium-Trial.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marfa';
  src: url('/fonts/ABCMarfa-Semibold-Trial.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marfa';
  src: url('/fonts/ABCMarfa-Bold-Trial.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Base styles */
body {
  color: #ECEDEE;
  background-color: #111214;
  font-family: 'Marfa', sans-serif;
}

/* Utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
